:root{
	--azul: #0067ab;
}
/* RESET */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.container-fluid{
  padding:0 !important;
}
.row > *{
  padding: 0;
}
.row{
  margin:0 !important;
}
a{
	text-decoration: none !important;
}
h1,h2,h3,h4,h5{
	margin:0 !important;
}
p{
	margin:0 !important;
}
ul{
  margin-bottom: 0 !important;
  padding: 0 !important;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden !important;
  background-color: black !important;
  font-family: textos !important;
}
/* RESET */

/* FUENTES */
@font-face {
    font-family: textos;
    src: url("../fonts/Hind-Light.ttf");
}
@font-face {
    font-family: subTitulos;
    src: url("../fonts/Hind-Regular.ttf");
}

@font-face {
    font-family: titulos;
    src: url("../fonts/Hind-Bold.ttf");
}
/* FUENTES */

header{
	width: 100%;
	background-color: white !important;
	position: fixed !important;
 	width: 100% !important;
 	padding: .5rem 0 !important;
 	z-index: 10 !important;
}
header nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999;
	background-color: transparent !important;
}
header nav .logo{
	width: 15%;
}
header nav .logo img{
	width: 100%;
}
header nav .menu .lista{
	display: flex;
}
header nav .menu .lista li{
	list-style: none;
}
header nav .menu .lista li a{
	text-decoration: none;
	transition: 0.3s;
	color: black !important;
	opacity: 1 !important;
	transition: 0.3s !important;
	font-size: 1.2rem !important;
	font-family: subTitulos !important;
}
header nav .menu .lista li a:hover{
	color: var(--azul) !important;
}
header nav .menu .lista li a.activo{
	background: white;
	color: var(--negro);
}
.burger > i{
	display: none;
}

#carrucel .banner01,
#carrucelContacto .banner01,
#carrucelProducto .banner01{
  bottom:11rem !important;
  left:10% !important;
  width: 70%;
  transition-delay: 3s;
  animation: letrasIzquierda 3s;
}
#carrucel .banner01 h1,
#carrucelProducto .banner01 h1{
  font-size: 3rem !important;
  font-family: titulos !important;
}
#carrucelContacto .banner01 h1{
	font-size: 5rem !important;
  font-family: titulos !important;
}
#carrucel .banner01 h2{
	font-size: 2rem;
	font-family: textos !important;
}
@keyframes letrasIzquierda{
  from{
    margin-left: -100%;
  }
  to{
    margin-left:0%;
  }
}

.banner01 .boton{
	background-color: transparent !important;
	border: 1px solid white !important;
	color: white !important;
	font-family: subTitulos !important;
	font-size: 1rem !important;
	transition: .5s !important;
	padding: .5rem 1.5rem !important;
}
.banner01 .boton:hover{
	background-color: black !important;
	border: 1px solid white !important;
	color: white !important;
}

.banner01 .boton2{
	background-color: var(--azul) !important;
	border: 1px solid white !important;
	color: white !important;
	font-family: subTitulos !important;
	font-size: 1rem !important;
	transition: .5s !important;
	padding: .5rem 1.5rem !important;
}
.banner01 .boton2:hover{
	background-color: transparent !important;
	border: 1px solid white !important;
	color: white !important;
}

#about,
#contacto,
#fichaForm{
	background-color: white !important;
}
#about #texto,
#contacto #texto,
#fichaForm #texto{
	width: 100% !important;
	height: 100% !important;
}
#about #texto h1,
#contacto #texto h1,
#fichaForm #texto h1{
	font-size: 2.5rem !important;
	font-family: titulos !important;
}
#about form,
#contacto form,
#fichaForm form{
	width: 80% !important;
}
#about form textarea,
#contacto form textarea,
#fichaForm form textarea{
	resize: none !important;
}
#about .boton,
#contacto .boton,
#fichaForm .boton{
	background-color: var(--azul) !important;
	border: 1px solid white !important;
	color: white !important;
	font-family: subTitulos !important;
	font-size: 1rem !important;
	transition: .5s !important;
	padding: .5rem 1.5rem !important;
}
#about .boton:hover,
#contacto .boton:hover,
#fichaForm .boton:hover{
	background-color: transparent !important;
	border: 1px solid var(--azul) !important;
	color: var(--azul) !important;
}

#productos{
	background-color: whitesmoke !important;
	padding: 4rem 0 !important;
}
#productos #titulo h1{
	font-family: titulos !important;
	font-family: 3rem !important;
}
#productos form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
#productos .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}
#productos .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 5rem !important;
	line-height: 3rem !important;
}
#productos .categorias a {
	color: black !important;
	margin: 10px 20px;
	font-size: 18px;
	font-family: subTitulos !important;
	opacity: 0.5 !important;
	transition: 0.5s !important;
	text-decoration: none !important;
}
#productos .categorias a.activo {
	font-family: titulos !important;
	opacity: 1 !important;
}
#productos .grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}
#productos .grid.imagenes-cargadas {
	opacity: 1;
}
#productos .grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(25% - 25px);
}
#productos .grid .item-contenido {
	position: relative;
	overflow: hidden !important;
}
#productos .grid .item-contenido a{
	color: white !important;
	text-decoration: none !important;
	font-size: 1rem !important;
}
#productos .grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
	transition: 0.5s !important;
	border-radius: 0 !important;
	background-color: white !important;
}
#productos .grid .item img:hover{
	transform: scale(1.1);
}
#productos .grid .item h2{
	background-color: var(--azul) !important;
	width: 100% !important;
	text-align: center !important;
	font-family: subTitulos !important;
	color: white !important;
	position: relative !important;
	z-index: 2 !important;
	font-size: 1.2rem !important;
	padding: 1rem !important;
}

#ficha{
	background-color: white !important;
}
#ficha #bienvenida,
#ficha #usos,
#ficha #caracteristicas{
	width: 100% !important;
	height: 100% !important;
}
#ficha #usos, #ficha #aviso{
	background-color: whitesmoke !important;
	padding: 1.5rem 0 !important;
}
#ficha #bienvenida h1,
#ficha #usos h1,
#ficha #caracteristicas h1{
	font-size: 2rem !important;
	font-family: titulos !important;
}
#ficha #bienvenida h1{
	padding-left: 5rem !important;
}
#ficha #bienvenida p{
	font-size: 1rem !important;
	padding-left: 5rem !important;
}
#ficha #caracteristicas p{
	padding-right: 5rem !important;
}
#ficha #caracteristicas i{
	font-size: .6rem !important;
}
#ficha #caracteristicas p span{
	font-family: titulos;
}
#ficha #usos p,
#ficha #aviso p{
	font-size: 1rem !important;
}
#ficha #usos #texto .element{
	border-right: 1px solid black !important;
}
#ficha #aviso p{
	font-family: subTitulos !important;
}
#ficha .boton{
	background-color: var(--azul) !important;
	border: 1px solid white !important;
	color: white !important;
	font-family: subTitulos !important;
	font-size: 1rem !important;
	transition: .5s !important;
	padding: .5rem 1.5rem !important;
}
#ficha .boton:hover{
	background-color: transparent !important;
	border: 1px solid var(--azul) !important;
	color: var(--azul) !important;
}

footer{
	background-color: var(--azul) !important;
	padding: 3rem 0  0 !important;
}
footer h3{
	color: white !important;
	font-family: titulos !important;
}
footer a{
	color: white !important;
	text-decoration: none !important;
}
footer #redes i{
	font-size: 2rem !important;
}
footer #copyright{
	margin-top: 3rem !important;
	background-color: white !important;
	padding: 1rem 0 !important;
}
footer #copyright h4{
	color: black!important;
	font-family: titulos !important;
	font-size: 1rem !important;
}
footer #copyright p{
	font-size: .5rem !important;
}

/* PRELOADER */
.loading{
  width: 100%;
  height: 100vh;
  background: var(--azul);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  z-index: 100000;
  clip-path: circle(100% at 50% 50%);
  transition: clip-path 0.8s ease-in-out;
}
.loading2{
  clip-path: circle(0% at 50% 50%);
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: white transparent white transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*HOME*/
.home{
  position:fixed;
  bottom:15px;
  right: 100%;
  width: 50px;
  height: 50px;
  padding:10px;
  background: var(--azul) !important;
  border: 3px solid whitesmoke !important;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
  color:whitesmoke;
  z-index: 1000;
  border-radius: 50%;
}
.home:hover{
  background:whitesmoke !important;
  border: 3px solid var(--azul) !important;
  color:var(--azul) !important;
}

/* MOVIL */
@media (max-width: 500px){
	.burger > i{
		display: block;
		position: absolute;
		top: 25px;
		right: 30px;
		font-size: 35px;
		cursor: pointer;
		opacity: 1 !important;
		transition: 0.3s !important;
	}
	.burguer > i:hover{
		opacity: 0.3 !important;
	}
	header{
		background-position: center;
		padding: 1rem 0 !important;
	}
	header nav .logo{
		width: 45%;
	}
	header nav .menu{
		position: absolute;
		top: 55px;
		left: -100%;
		width: 100%;
		padding: 1rem 0 !important;
		background: white !important;
		z-index: -1 !important;
	}
	header nav .menu .lista{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	header nav .menu .lista li{
		width: 70%;
		margin: 10px 0;
		padding: 10px 0;
		text-align: center;
	}
	#carrucel .banner01{
		bottom: 5rem !important;
		text-align: center !important;
		align-items: center !important;
		justify-content: center !important;
		display: flex !important;
		flex-direction: column !important;
		width: 90% !important;
		left: 5% !important;
	}
	#carrucelContacto .banner01,
	#carrucelProducto .banner01{
		text-align: center !important;
		align-items: center !important;
		justify-content: center !important;
		display: flex !important;
		flex-direction: column !important;
		width: 90% !important;
		left: 5% !important;
		bottom: 7rem !important;
	}
	#carrucelProducto .banner01 h1,
	#carrucelContacto .banner01 h1{
		font-size: 2.5rem !important;
	}
	#carrucelProducto .banner01 .titulo,
	#carrucelContacto .banner01 .titulo{
		top: 3rem !important;
		position: relative !important;
	}
	#carrucelProducto .banner01 .titulo2{
		top: 2rem !important;
		position: relative !important;
	}
	#carrucelProducto .banner01 .titulo3{
		bottom: 4rem !important;
		position: relative !important;
	}
	#carrucel .banner01 h1{
		font-size: 2rem !important;
	}
	#carrucel .banner01 .boton,
	#carrucel .banner01 .boton2{
		padding: .5rem 2rem !important;
		width: 100% !important;
	}
	#about #texto{
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		text-align: center !important;
		padding: 2rem 0 !important;
	}
	#about #texto p{
		padding-left: 0 !important;
	}
	#productos .barra-busqueda{
		width: 100% !important;
	}
	#productos .grid .item{
		width: 100% !important;
		margin: 0 !important;
		margin-bottom: 1rem !important;
	}
	#productos .grid .item:last-child{
		margin-bottom: 0 !important;
	}
	footer #cont{
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		text-align: center !important;
		margin-bottom: 2rem !important;
	}
	footer h3{
		font-size: 2rem !important;
	}
	footer a{
		font-size: 1.5rem !important;
	}
	footer #redes i {
		font-size: 2.5rem !important;
	}
	#about #texto h1,
	#fichaForm #texto h1{
		font-size: 2rem !important;
	}
	#about form{
		width: 100% !important;
	}
	#productos .carousel-caption{
		left: 0 !important;
		right: 0 !important;
		padding:1rem 2rem !important;
		width: 100% !important;
		background-color: black !important;
		color: white !important;
		bottom: 0 !important;
		position: relative !important;
	}
	#productos .carousel-item  a{
		text-decoration: none !important;
	}
	#ficha #bienvenida{
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		text-align: center !important;
		padding: 3rem 0 !important;
	}
	#ficha #bienvenida h1,
	#ficha #bienvenida p{
		padding-left: 0 !important;
	}
	.accordion-button:not(.collapsed){
		color: black !important;
		background-color: white !important;
	}
	#usos h2{
		font-family: titulos !important;
	}
	#usos h2 a{
		font-size: 1.5rem !important;
	}
	#usos .text{
		border-bottom: 1px solid black !important;
		padding: 1rem !important;
		text-align: center !important;
	}
	#ficha #caracteristicas{
		padding: 2rem 0 !important;
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
		text-align: center !important;
	}
	#ficha #caracteristicas #titulo{
		text-align: center !important;
	}
	#ficha #caracteristicas #texto{
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
		text-align: center !important;
	}
	#ficha #caracteristicas i{
		display: none !important;
	}
	#ficha #caracteristicas p{
		padding-right: 0 !important;
	}
	#fichaForm #texto,
	#contacto #texto{
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
		text-align: center !important;
		padding: 2rem 0 !important;
	}
	#about form, #contacto form, #fichaForm form{
		width: 100% !important;
	}
}